<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-navbar">
    <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/logo2.png' %}" width="40px" height="45px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'my_course' %}">My Course</a>
      </li>
      {% endif %}
    </ul>
  {% if request.user.is_authenticated %}
    <div class="text-end">
        <a role="button" href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
    </div>
  {% else %}
    <div class="text-end">
        <a role="button" href="{% url 'login' %}" class="btn btn-outline-light me-5">Login</a>
        <a role="button" href="{% url 'sign_up' %}" class="btn btn-primary">Sign-up</a>
    </div>
  {% endif %}
  </div>
  </div>

</nav>